<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<title>Select your password</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<img src="data:image/<%=items[0].image.contentType%>;base64,<%=items[0].image.data.toString('base64')%>"/>
				<h5><%= items[0].name %></h5>
				<p><%= items[0]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[1].image.contentType%>;base64,<%=items[1].image.data.toString('base64')%>%>"/>
				<h5><%= items[1].name %></h5>
				<p><%= items[1]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[2].image.contentType%>;base64,<%=items[2].image.data.toString('base64')%>"/>
				<h5><%= items[2].name %></h5>
				<p><%= items[2]._id  %></p>
			</div>
		</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[3].image.contentType%>;base64,<%=items[3].image.data.toString('base64')%>"/>
				<h5><%= items[3].name %></h5>
				<p><%= items[3]._id  %></p>
			</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-lg-3">
				<img src="data:image/<%=items[4].image.contentType%>;base64,<%=items[4].image.data.toString('base64')%>"/>
				<h5><%= items[4].name %></h5>
				<p><%= items[4]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[5].image.contentType%>;base64,<%=items[5].image.data.toString('base64')%>%>"/>

				<h5><%= items[5].name %></h5>
				<p><%= items[5]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[6].image.contentType%>;base64,<%=items[6].image.data.toString('base64')%>"/>
				<h5><%= items[6].name %></h5>
				<p><%= items[6]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[7].image.contentType%>;base64,<%=items[7].image.data.toString('base64')%>"/>
				<h5><%= items[7].name %></h5>
				<p><%= items[7]._id  %></p>
			</div>
			</div>
			
			
		</div>
		<div class="row">
			<div class="col-lg-3">
				<img src="data:image/<%=items[8].image.contentType%>;base64,<%=items[8].image.data.toString('base64')%>"/>
				<h5><%= items[8].name %></h5>
				<p><%= items[8]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[9].image.contentType%>;base64,<%=items[9].image.data.toString('base64')%>%>"/>

				<h5><%= items[9].name %></h5>
				<p><%= items[9]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[10].image.contentType%>;base64,<%=items[10].image.data.toString('base64')%>"/>
				<h5><%= items[10].name %></h5>
				<p><%= items[10]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[11].image.contentType%>;base64,<%=items[11].image.data.toString('base64')%>"/>
				<h5><%= items[11].name %></h5>
				<p><%= items[11]._id  %></p>
			</div>
			</div>

			
			
		</div>
		<div class="row">
			<div class="col-lg-3">
				<img src="data:image/<%=items[12].image.contentType%>;base64,<%=items[12].image.data.toString('base64')%>"/>
				<h5><%= items[12].name %></h5>
				<p><%= items[12]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[13].image.contentType%>;base64,<%=items[13].image.data.toString('base64')%>%>"/>
				<h5><%= items[13].name %></h5>
				<p><%= items[13]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[14].image.contentType%>;base64,<%=items[14].image.data.toString('base64')%>"/>
				<h5><%= items[14].name %></h5>
				<p><%= items[14]._id  %></p>
			</div>
			</div>
			<div class="col-lg-3">
				<img src="data:image/<%=items[15].image.contentType%>;base64,<%=items[15].image.data.toString('base64')%>"/>
				<h5><%= items[15].name %></h5>
				<p><%= items[15]._id  %></p>
			</div>
			</div>
			
		</div>
	</div>

</body>
</html>
